<div class="post-box">
    <%= form_with model: @blog_post do |form| %>
<% if form.object.errors.any? %>
<div>
    <% form.object.errors.full_messages.each do |message| %>
    <div><%= message %></div>
    <%end%>
</div>
<%end%>
<div>
    <%= form.label :title %>
    <%= form.text_field :title %>
</div>
<div>
    <%= form.label :body %>
    <%= form.text_area :body,rows: 10,col:10%>
</div>
 <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>
<%= form.button %>
</div>
<% end %>
<%= link_to 'Back', blog_posts_path, class: 'edit-button' %>
